body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #35424a;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
    margin-bottom: 40px;
}

.organization {
    background-color: #e0e0e0;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
}

footer {
    background-color: #35424a;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
a {
    text-decoration:none;
    color:black;
}
a .organization h2:hover{
    text-decoration: solid;
    color:rgb(1, 52, 35);
}
